.card {
  margin: 20px;
  padding: 20px;
  width: 350px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  /* background: radial-gradient(#1fe4f5, #3fbafe); */
  /* background: radial-gradient(#fbc1cc, #fa99b2); */
  /* background: radial-gradient(#76b2fe, #b69efe); */
  /* background: radial-gradient(#60efbc, #58d5c9); */
  background: radial-gradient(#f588d8, #c0a3e5);
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card span{
  color: var(--purple);
}

