body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --black: #000000;
  --white: #ffffff;
  --gray: #7a7a7a;
  --red: palevioletred;
  --orange: #ed8936;
  --yellow: #f6e05e;
  --green: #268200;
  --blue: #33a1f2;
  --purple: #9f7aea;
}